# 一次性配置lombok的属性可以服务整个项目或者工作台
# lombok.config配置文件可以放在任何目录，作用于该目录和其子目录


# 指明lombok的根目录为当前配置文件所在目录
config.stopBubbling = true

# 指定在生成的 toString 方法中是否调用父类的 toString 方法
lombok.tostring.callsuper=CALL

# 用来配置在生成的 equals 和 hashCode 方法中是否调用父类的方法
lombok.equalsandhashcode.callsuper=CALL

# Lombok 会生成支持链式调用的方法
# Person person = new Person().setFirstName("John").setLastName("Doe");
lombok.accessors.chain=true
